<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<AppSettings>
    <add name="baseurl" WebApi ="https://"/>
    </AppSettings>-->
  <appSettings>
    <!--Local-->
    <!--<add key="RootUrl" value="https://localhost:44350/api/" />-->  
    <!--Azure-->
    <add key="RootUrl" value="https://memcoreapi.azurewebsites.net/api/"/> 
    <add key="version" value="v1.1" />
    <add key="userId" value="xxx" />
    <add key="key" value="xxx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="myConnectionString" connectionString="DATA SOURCE=localhost:1521/orcl;USER ID=HR;PASSWORD=hr" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>